*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.css linguist-detectable=false
*.py linguist-detectable=true
*.sh linguist-detectable=false
*.bat linguist-detectable=false
*.3 linguist-language=text
*.ps1 linguist-detectable=false
